{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "923040333@qq.com",
      "Space": "dev"
    },
    "Name": "natural-language-classifier-nodejs-wentixiaogege-930",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}